<form action="/cc" method="POST">
  <input type="text"   name="username" placeholder="Username" class="form-contol">
  <input type="number" name="age"      placeholder="Your age" class= "form-control">
  <input type="email"  name="email"    placeholder="Your email" class="form-control">

  <button type="submit" class="btn btn-info">Submit</button>
  </form>


  